.latestcollection {
    margin: 2.5rem;
    z-index: -8;
}

.latestcollection1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.875rem;
    z-index: -8;
}

.latestp1 {
    width: 90%; 
    max-width: 600px;
    margin: auto;
    font-size: 0.85rem;
    line-height: 1.5; 
    text-align: center;
}

@media (min-width: 640px) {
    .latestp1 {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .latestp1 {
        font-size: 1rem;
    }
}

.renderproduct {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 1rem;
    row-gap: 1.5rem;
    padding: 0 1rem; 
}

.renderproduct img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .renderproduct {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 640px) {
    .renderproduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .renderproduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .renderproduct {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .renderproduct {
        grid-template-columns: repeat(5, 1fr);
        margin-left: 20px;
    }
}
