.OurPolicy {
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    gap: 3rem; /* gap-12 = 48px */
    text-align: center; /* Centers text */
    padding-top: 5rem; /* py-20 = 80px */
    padding-bottom: 5rem; /* py-20 = 80px */
    font-size: 0.75rem; /* text-xs = 12px */
    color: #374151; /* text-gray-700 = Dark gray */
  }
  
  /* On small screens (640px and above) */
  @media (min-width: 640px) {
    .OurPolicy {
      flex-direction: row; /* sm:flex-row = Aligns items horizontally */
      gap: 0.5rem; /* sm:gap-2 = 8px */
      font-size: 0.875rem; /* sm:text-sm = 14px */
      margin-top:120px;
    }
  }
  
  /* On medium screens (768px and above) */
  @media (min-width: 768px) {
    .OurPolicy {
      font-size: 1rem; /* md:text-base = 16px */
    }
  }

  .exchangeicon{
    width: 3rem; 
    margin: auto; 
    margin-bottom: 1.25rem; 
  }

  .policyp1{
    font-weight: 500;
  }
  
  .policyp2{
    color: #6b7280;
  }